#Stepper .MuiPaper-root{
    background-color: rgba(45, 62, 84, 0.419);
}

#Stepper .MuiPaper-root .MuiStep-root{
    size: 110px;
    font-size: 30px;
}

#Stepper .MuiPaper-root .MuiStep-root .MuiStepLabel-root .MuiStepLabel-iconContainer .MuiStepIcon-root{
    font-size: 35px;
    
}

#Stepper .MuiPaper-root .MuiStep-root .MuiStepLabel-root .MuiStepLabel-iconContainer .MuiStepIcon-root.MuiStepIcon-completed{
    color: rgba(186, 192, 199, 0.858);
}

#Stepper .MuiPaper-root .MuiStep-root .MuiStepLabel-root .MuiStepLabel-labelContainer .MuiTypography-body2{
    font-size: 20px;
    color: rgba(255, 255, 255, 0.858);
}

#Stepper .Button .StepButton{
    padding-left: 80%;
}