
/*------------------Search Bar----------------------*/
.Search .SearchBar{
    margin-top: 3%;


}

.Search .SearchBar .icon {
    font-size: 40px;
}

.Search .TextField {
    padding-top: 10px;

}

.Search .SearchBar .MuiAutocomplete-hasPopupIcon .MuiAutocomplete-inputRoot,
.MuiAutocomplete-hasClearIcon .MuiAutocomplete-inputRoot {
    color: white;

    width: 500px;
}

.Search .SearchBar .MuiFormLabel-root {
    color: white !important;
}

.Search .SearchBar .MuiInputLabel-root {
    font-size: 25px;
    margin-top: -10px;
}

.Search .SearchBar .MuiIconButton-root {
    color: white;
}

.Search .SearchBar .MuiChip-root {
    color: white;
    background-color: rgba(0, 0, 0, 0.26);
    font-size: 18px;
}

.Search .SearchBar .MuiChip-deleteIcon {
    color: rgba(159, 157, 157, 0.714);
}

.Search .SearchBar .MuiAutocomplete-popper{
    background-color: rgba(0, 0, 0, 0.26);
}

.Search .SearchBar .MuiInput-underline:after{
    border-bottom: 2px solid rgb(161, 183, 211);
}

/*------------------Search Bar----------------------*/
.Search .Table{
    color: white !important;
}


.Search .MuiAccordion-rounded{
    background-color: rgb(31, 30, 29, 0.18);
    width: 1000px;
}
