

/* background color of Table*/
.Table .MuiPaper-root{
    background-color: rgba(31, 30, 29, 0.18);
}

/* Adjust Font Size and color*/
.Table .MuiTypography-h6{
    color: white;
    font-size: 35px;
}

.Table .MuiTableCell-head{
    color: white;
    font-size: 25px !important;
    text-align: center !important;
}

.Table .MuiTableCell-body{
    color: white;
}

.Table .MuiTablePagination-root{
    color: white;
    font-size: 15px;
}

.Table .MuiTableCell-root{
    font-size: 15px;
    padding-left: 20px;
    text-align: center !important;
}

.Table .NoSelect h4{
    text-align: center;
}